* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}


/* HEADER Y NAVEGADOR */

header {
    width: auto;
    min-height: auto;
    display: flex;
    flex-direction: column;
    background-image: url(../images/fondo-piscina-vacia-agua.jpg);
    background-repeat: no-repeat;
    background-size: 110%;
    image-resolution: calc(-50%);
    background-position: 0 -950px;
    overflow: hidden;
}

.nav-bg {
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: auto;
    background-color: #1F3CA3;
    display: flex;
    align-items: center;
    padding: 0 150px;
    box-shadow: 0 10 20 0 rgba(5, 2, 2, 0.8);
    justify-content: space-between;
    z-index: 3;
}

.logo {
    padding: 10px;
    display: flex;
    height: 10vh;
    width: auto;
}

.navegador-principal {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.navegador-principal a {
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    text-decoration: solid;
    justify-content: space-evenly;
}

.button-registro {
    display: flex;
    align-items: center;
    padding-left: 15px;
    gap: 12px;
}

.login-button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    height: 30px;
    width: auto;
    padding: 0 15px;
    background-color: #1F3CA3;
    color: whitesmoke;
    text-decoration: solid;
    border-color: whitesmoke;
    border-radius: 10px;
}

.ventana {
    margin: 200px 150px 100px 150px;
    display: flex;
    height: auto;
    width: auto;
    background-color: rgba(252, 246, 246, 0.80);
}

.imagen-recuadro {
    height: auto;
    width: 300vw;
    display: flex;
    overflow: hidden;

}

.img-m-picinas {
    size-adjust: 200%;



}

.recuadro {
    display: block;
    padding: 30px;
    justify-items: right;
}

.recuadro h1 {
    color: #1F3CA3;
    align-items: center;
    text-align: right;
    text-decoration: solid;
    font-size: 40px;
}

.recuadro p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 16px;
    text-align: justify;
}







/* MAIN */

main {
    margin: 0 150px;
    min-height: 90vh;
}

.somos {
    margin: 10;
}







/* SECCION PLANES */

.planes {
    display: flex;

}

#img-abstract {
    width: 100vw;
    height: 100vh;
    margin: 0 -150px;
    justify-content: center;
    align-items: center;
    image-resolution: calc(-50%);

}

.cards-planes {
    margin: 0;
    padding: 20vh 0;
}




/* FOOTER */

footer {
    background-color: #1F3CA3;
    width: 100%;
    height: 17.75rem;
}

.grupo-1 .box-logo figure img {
    width: 8.6875rem;
    height: 3.375rem;
    margin-top: 1.5rem;
    margin-left: 6.5rem;
    margin-bottom: 2rem;
}

.grupo-2 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
}

.grupo-2 .box {
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
    margin-right: -3rem;
    text-decoration: none;
}

.grupo-2 .box a {
    text-decoration: none;
    color: #ffffff;
    line-height: 2rem;
}

.grupo-2 .box a i {
    margin-right: 12px;
    font-size: 150%;
}

.grupo-3 {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    color: #ffffff;
}

.bi-geo-alt {
    margin-left: -2.3rem;
}




/* STYLE DEL LOGIN */

#body-login {
    padding: 30px;
    background-image: url(../images/fondo-abstracto-formas-azules/569.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: block;


}

#body-login main {
    padding: 0;
    margin: 0;
}

.background-lg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.lg-logo {
    display: flex;
    height: auto;
    width: 15vw;
}

.rg-conteiner {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.8);
    position: relative;
    width: 45vw;
    min-height: 20vh;
    opacity: 60%;
    backdrop-filter: blur(45%);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
}

.rg-conteiner h1 {
    display: flex;
    color: #1F3CA3;
    font-size: 40px;
}

.rg-conteiner label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: black;
    text-decoration: solid;

}

.rg-conteiner input {
    display: flex;
    border: none;
    border-radius: 20;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    height: 25px;
    width: 40vw;
    padding-left: 10px;
}


#boton__registrar {
    padding: 10px 40px;
    display: flex;
    height: 6vh;
    width: 10vw;
    background-color: #1F3CA3;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

#btn__Login {
    padding: 10px 40px;
    display: flex;
    height: 6vh;
    width: 10vw;
    background-color: #1F3CA3;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}


/* SECCION CONTACTOS */

.contactos {
    margin-top: 40px;
    margin-bottom: 50px;
    width: 80vw;
    max-height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactos .mapa h2 {
    font-size: 32px;
    color: #1F3CA3;
    text-align: center;
}

.mapa .map-style {
    border: solid 3px #1F3CA3;
    border-radius: 20px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.8);
}

.card-conts {
    padding: 10px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.8);
    width: 30vw;
    min-width: fit-content;
    min-height: 70vh;
    border: solid 3px #1F3CA3;
    border-radius: 20px;
    top: 10vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: -200px;
}

.form-tittle {
    color: #1F3CA3;
    font-size: 42px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 7px;
}

.card-conts .form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-conts .form input {
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 7px 50px;
    border-radius: 10px;
    border: solid 1.5px #1F3CA3;
    text-align: center;
}

.card-conts .form input::placeholder {
    text-align: center;
}

.card-conts .form label {
    font-size: 18px;
}

.card-conts .form label i {
    margin-right: 5px;
}

.card-conts .form textarea {
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    border: solid 1.5px #1F3CA3;
}

.card-conts .form #enviar {
    background-color: #39A3AD;
    border-color: #39A3AD;
    color: #FFFFFF;
    width: 11.875rem;
}


/* SECCION CARDS */

.container {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 82vw;
    overflow: hidden;
    text-align: center;
    justify-content: space-between;

    
    
}

.card {
    background-color: #50BDFA;
    width: 281px;
    height: 283px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;
    top: 906px;
    left: 109px;
    padding: 20px;
    justify-content: center;
    



}


#boton{
    border-radius: 0.56rem;
    background-color: #39A3AD;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25rem;
    width: 11.8rem;
    height: 1.9rem;
    align-items: center;
    border: none;


}

.card i {
    font-size: 3.5rem;
    color: white;
}

.card_cont h3 {
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 10px;
}


<<<<<<< Updated upstream
/* planes especiales hechos a tu medida */

.container-cards h1{
    width: 948px;
    height: 144px;
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
    display:block
    }
    .container-cards{
        z-index: 2;
        color:black;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .cards-planes{
        display: flex;
        width: 275px;
        height: 437px;
        background: #39A3AD;
        box-shadow: 8px 8px 7px rgba(0, 0, 0, 0.25);
        justify-content: space-between;
        
        
        
       
        
    }
    .bg-abstract{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap:wrap;
        position: absolute;
        color: #FFFFFF;
        
    
    }
    .planes{
        position: relative;
        align-items: center;
        width: auto;
        height: 100vh;
    
    }
    .container-cards h3{
        color: #1F3CA3;
        font-size: 35px;
        width: 212px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        font-family: 'Calibri';
        
    }
        
=======



/* PLANES */

*planes especiales hechos a tu medida*

.container-cards h1{
width: 948px;
height: 144px;
font-family: 'Josefin Sans';
font-style: italic;
font-weight: 700;
font-size: 48px;
color: #FFFFFF;
display:block;
}
.container-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    flex-direction: row;
}
.cards-planes{
    display: flex;
    width: 275px;
    height: 437px;
    background: #39A3AD;
    box-shadow: 8px 8px 7px rgba(0, 0, 0, 0.25);
}
.bg-abstract{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
    position: absolute;

}
.planes{
    position: relative;
    align-items: center;
    width: auto;
    height: 100vh;
}
>>>>>>> Stashed changes
