*{    
    margin: 0;
    padding: 0;
    font-family:  'Josefin Sans', sans-serif;
   }

header{
    min-height: 90vh;
    display: block;
    background-image: url(../images/fondo-piscina-vacia-agua.jpg);
    background-position: 0% 110%; 
    background-repeat: no-repeat;
    background-size: 100vw 1000px;
    padding-top: 50px;
   }


.nav-bg{
    height: 50px;
    background-color: #1F3CA3;
    display: flex;
    align-items: center;
    padding: 0 150px;
    box-shadow: 0 20 20 0 rgba(5, 2, 2, 0.8);
    justify-content: space-between;
}

.logo{    
    display:flex;
    height: 80px;
    width: auto;
}
     
.navegador-principal{
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.navegador-principal a{
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    text-decoration: solid;
    justify-content: space-evenly;
    
}

.button-registro{
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.login-button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    height: 30px;
    width: auto;
    padding: 0 15px;
    background-color: #1F3CA3;
    color: whitesmoke;
    text-decoration: solid;
    border-color: whitesmoke;
    border-radius: 10px;
}
.ventana{
    margin: 90px 150px 90px 150px;
    display:flex;
    height: 47vh;
    width: auto;
    background-color: rgba(252, 246, 246, 0.6);
    }

.imagen-recuadro{
   width: 200vw;
   position: -800px;
   overflow:hidden;
}

.recuadro{
    display: block;
    margin: 30px;
    justify-items: right;
    }

.recuadro h1{
    color: #1F3CA3;
    align-items:center;
    text-align:right;
    text-decoration: solid;
    font-size: 40px;
    }

.recuadro p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size:16px;
    text-align:justify;
    
    
}


main{
    
    margin: 0 150px;
    background-color: whitesmoke;
    min-height: 90%;
}
footer{
    padding: 0 150px;
    background-color: #1F3CA3;
}


